E-Commerce/.vs/E-Commerce/v16/.suo
E-Commerce/E-Commerce/bin/Debug/netcoreapp3.1/E-Commerce.dll
E-Commerce/E-Commerce/bin/Debug/netcoreapp3.1/E-Commerce.pdb
E-Commerce/E-Commerce/obj/Debug/netcoreapp3.1/E-Commerce.csproj.CoreCompileInputs.cache
E-Commerce/E-Commerce/obj/Debug/netcoreapp3.1/E-Commerce.csprojAssemblyReference.cache
E-Commerce/E-Commerce/obj/Debug/netcoreapp3.1/E-Commerce.dll
E-Commerce/E-Commerce/obj/Debug/netcoreapp3.1/E-Commerce.pdb
