.content {
  margin: 20px;
  display: grid;
  grid-template-columns: 300px 1fr;
  button {
    width: 100%;
    text-align: left;
  }
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.categories {
  height: fit-content;
  margin: 5px;
}
.subcategory {
  padding-left: 40px;
}
.product {
  margin: 5px;
  outline: none;
}
