.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  button {
    width: 100%;
    text-align: left;
  }
}
.product-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.categories {
  height: fit-content;
}
.subcategory {
  padding-left: 40px;
}
