.navigation {
  width: 100%;
  margin: auto;
  display: flex;
}
.categories {
  display: flex;
  width: fit-content;
  place-items: center;
  margin: auto;
  button {
    height: 100%;
  }
}
.login-icon {
  width: 30px;
}
mat-toolbar {
  background-color: white;
}
.logo-image {
  width: 220px;
  height: 40px;
}
.category-container {
  width: 100%;
  background-color: whitesmoke;
  box-shadow: rgb(0 0 0 / 64%) 0px 2px 8px -5px;
}
