.navigation {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto 55% auto auto;
}
.categories {
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  place-items: center;
  margin: auto;
  button {
    height: 100%;
  }
}
.login-icon {
  width: 30px;
}
mat-toolbar {
  background-color: white;
}
.logo-image {
  width: 220px;
  height: 40px;
}
.category-container {
  width: 100%;
  background-color: whitesmoke;
}
