<div class="footer-container">
  <div class="informations">Godziny pracy pon - sob 6.00 - 22.00</div>
  <div>
    <div class="inline">
      <mat-icon>email</mat-icon>
      <a href="mailto:superfirma@gmail.com">superfirma@gmail.com</a>
    </div>
    <div class="inline">
      <mat-icon>call</mat-icon>
      <a href="tel:555-444-333">555 444 333</a>
    </div>
    <div class="inline">
      <mat-icon>location_on</mat-icon>
      <a href="{{ link }}">lokalizacje naszych sklepów </a>
    </div>
    <div class="inline">
      <mat-icon>calendar_today</mat-icon>
      <p>umów się</p>
    </div>
  </div>
</div>
