.adverts {
  display: grid;
  grid-template-columns: 1fr 16.6% 16.6% 16.6% 16.6% 16.6%;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  max-width: 1800px;
  margin: 0 auto;
}
app-advert-card {
  margin: 2px;
}
.sale {
  grid-row: 1/3;
  grid-column: 1/3;
  transform: scale(1.8);
}
.carousel {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  .adverts {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .advert8 {
    grid-column: 4/5;
  }
  .advert9 {
    grid-column: 5/6;
  }
}

@media screen and (max-width: 1400px) {
  .adverts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .advert8 {
    grid-column: auto;
  }
  .advert9 {
    grid-column: auto;
  }
}
@media screen and (max-width: 1000px) {
  .adverts {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
