<mat-card>
<h2>Kategorie</h2>
<button routerLink>Wszystko</button>
<button routerLink="/admin">admin-panel</button>
</mat-card>



<mat-carousel class="margined"
  timings="250ms ease-in"
  [autoplay]="true"
  interval="5000"
  color="accent"
  maxWidth="1700px"
  proportion="22"
  slides="3"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let slide of slides; let i = index"
    [image]="slide.image"
    overlayColor="#00000000"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>



<h1 class="margined">Najczęściej kupowane</h1>

<div class="adverts">
  <app-advert-card class="sale"
  [id]="products[0].id"
  [name]="products[0].name"
  [price]="products[0].price" 
  [photoUrl]="products[0].productPhoto">
</app-advert-card><app-advert-card
[id]="products[1].id"
[name]="products[1].name"
[price]="products[1].price"  
  [photoUrl]="products[1].productPhoto">
</app-advert-card><app-advert-card
[id]="products[2].id"
[name]="products[2].name"
  [price]="products[2].price" 
[photoUrl]="products[2].productPhoto">
</app-advert-card><app-advert-card 
[id]="products[3].id"
[name]="products[3].name"
  [price]="products[3].price" 
[photoUrl]="products[3].productPhoto">
</app-advert-card><app-advert-card
[id]="products[4].id"
[name]="products[4].name"
  [price]="products[4].price"  
[photoUrl]="products[4].productPhoto">
</app-advert-card><app-advert-card
[id]="products[5].id"
[name]="products[5].name"
  [price]="products[5].price" 
[photoUrl]="products[5].productPhoto">
</app-advert-card><app-advert-card
[id]="products[6].id"
[name]="products[6].name"
  [price]="products[6].price" 
[photoUrl]="products[6].productPhoto">
</app-advert-card><app-advert-card class="advert8" 
[id]="products[7].id"
[name]="products[7].name"
  [price]="products[7].price" 
[photoUrl]="products[7].productPhoto">
</app-advert-card><app-advert-card class="advert9" 
[id]="products[8].id"
[name]="products[8].name"
  [price]="products[8].price" 
[photoUrl]="products[8].productPhoto">
</app-advert-card></div>
