<div class="content" >
 <div class="preview">
        <app-advert-card 
        [name]="productForm.value.name"
        [price]="productForm.value.price" 
        [photoUrl]="photo">
      </app-advert-card>
      </div>
      
<mat-card>
    <mat-card-content>
      <form [formGroup]="productForm" (ngSubmit)="submit()">
        <h2>Dodaj Produkt</h2>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="name" formControlName="name" required>
          <mat-error>
            Please provide a valid name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="price" formControlName="price" required>
          <mat-error>
            Please provide a valid price
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="quantity" formControlName="quantity" required>
            <mat-error>
              Please provide a valid price
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="description" formControlName="description" required>
            <mat-error>
              Please provide a valid price
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="specification" formControlName="specification" required>
            <mat-error>
              Please provide a valid price
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <ngx-mat-file-input (change)='changephoto()' formControlName="productPhoto" >
            </ngx-mat-file-input>
         </mat-form-field>


        <button mat-raised-button color="primary">Dodaj</button>
      </form>
    </mat-card-content>
  </mat-card>



</div>