@import './../../../../../theme.scss';
$primary: map-get($theme, primary);

.basket-options {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 40px;
}

.basket {
  display: grid;
  grid-template-columns: 70% auto;
  margin-top: 30px;
}
.sum-info {
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  height: 150px;
}
mat-card > button {
  width: 100%;
  grid-column: 1/4;
  color: white;
}
.item-list {
  padding-right: 30px;
}
.message {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}
