<div class="basket">
<div class="item-list">
<div class="basket-options">
<h1>Koszyk</h1>
<button mat-button><h3><mat-icon>favorite_border_outline</mat-icon>Zapisz koszyk</h3></button>
<button mat-button><h3><mat-icon>delete_outline</mat-icon>Wyczyść koszyk</h3></button>
</div>
<app-basket-item [photo]="photoUrl" [price]="299.99" [quantity]="12" [description]="'Samsung s20 super szybki tej'"></app-basket-item>
<app-basket-item [photo]="photoUrl" [price]="299.99" [quantity]="12" [description]="'Samsung s20 super szybki tej'"></app-basket-item>
<app-basket-item [photo]="photoUrl" [price]="299.99" [quantity]="12" [description]="'Samsung s20 super szybki tej'"></app-basket-item>
<app-basket-item [photo]="photoUrl" [price]="299.99" [quantity]="12" [description]="'Samsung s20 super szybki tej'"></app-basket-item>
<app-basket-item [photo]="photoUrl" [price]="299.99" [quantity]="12" [description]="'Samsung s20 super szybki tej'"></app-basket-item>
<app-basket-item [photo]="photoUrl" [price]="299.99" [quantity]="12" [description]="'Samsung s20 super szybki tej'"></app-basket-item>
</div>
<mat-card class="sum-info">
<h1>Łączna kwota</h1>
<div></div>
<h3>{{sum}} zł</h3>
<button mat-button (click)="onClick()">Przejdź do dostawy<mat-icon>keyboard_arrow_right</mat-icon></button>
</mat-card>
<mat-card></mat-card>
</div>