<div class="dashboard">
  <div class="sidebar">
    <button mat-button routerLink="">Sklep</button>
    <span></span>
    <button mat-button routerLink="produkty">Produkty</button>
    <button mat-button routerLink="zamówienia">Zamówienia</button>
    <button mat-button routerLink="użytkownicy">Użytkownicy</button>
    <button mat-button routerLink="kategorie">Kategorie</button>
    <button mat-button routerLink="strona-glowna">Strona Główna</button>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
